@import "var";
@import "mixin";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: $Dark-cyan;
  position: relative;
  background-size: 60vw 60vw, 70vw 70vw;
  background-position: left -15vw top -30vw, right -20vw bottom -46vw;
  @include flexbox;
  background-image: url("../images/bg-pattern-top.svg"),
    url("../images/bg-pattern-bottom.svg");
  background-repeat: no-repeat;
}

// box section starts here--
.card-img {
  width: 100%;
}

.box {
  width: 23rem;

  border-radius: 13px;
  overflow: hidden;
  @include flexbox;
  flex-shrink: 3;
  background-color: white;
  font-family: $font-type;
}
.part-1-card {
  margin-top: 0;
}
.pro-img {
  border-radius: 100%;
  width: 30%;
  width: 100px;
  margin-top: -50px;
  border: 2px solid white;
  z-index: 3;
  background-color: white;
  padding: 1px;
}
.part-2-white {
  background-color: white;
  @include flexbox;
  width: 100%;
}

// starts here--3
div {
  font-weight: 400;
  h4 {
    margin-top: 1.4rem;
    color: $Very-dark-desaturated-blue;
    font-size: 1.1rem;
    span {
      color: $Dark-gray;
      font-size: 1.1rem;
      margin-left: 0.5rem;
      font-weight: 400;
    }
  }
  p {
    // font-weight: 700;
    color: $Dark-gray;
    margin-top: 1rem;
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }

  .stats {
    font-family: $font-type;
    width: 100%;
    @include flexbox;
    flex-direction: row;
    justify-content: space-around;

    .stats-num {
      font-size: 1.2rem;
      margin-bottom: 0.3rem;
      font-weight: 800;
      letter-spacing: 0px;
      color: $Very-dark-desaturated-blue;
    }
    li {
      margin: 1.5rem;
      letter-spacing: 1px;
      font-size: 0.7rem;
      color: $Dark-gray;
      font-weight: 400;
      @include flexbox;
      list-style: none;
    }
  }
  .last-box {
    border-top: 1px solid hsl(0, 0%, 90%);
    width: 100%;
    padding: 0 2rem;
  }
}
.attribution {
  position: relative;
  top: 5rem;
  font-family: $font-type;
}
.attribution a:link,
a:visited {
  font-family: $font-type;
  font-size: 0.8rem;
  color: hsl(1, 60%, 55%);
}

// media queries starts here--1
@media (min-width: 768px) {
  body {
    background-size: 60vw 60vw, 70vw 70vw;
    background-position: left -15vw top -30vw, right -20vw bottom -46vw;
  }
}
