* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #19a2ae;
  position: relative;
  background-size: 60vw 60vw, 70vw 70vw;
  background-position: left -15vw top -30vw, right -20vw bottom -46vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("../images/bg-pattern-top.svg"), url("../images/bg-pattern-bottom.svg");
  background-repeat: no-repeat;
}

.card-img {
  width: 100%;
}

.box {
  width: 23rem;
  border-radius: 13px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 3;
      flex-shrink: 3;
  background-color: white;
  font-family: "Kumbh Sans", sans-serif;
}

.part-1-card {
  margin-top: 0;
}

.pro-img {
  border-radius: 100%;
  width: 30%;
  width: 100px;
  margin-top: -50px;
  border: 2px solid white;
  z-index: 3;
  background-color: white;
  padding: 1px;
}

.part-2-white {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

div {
  font-weight: 400;
}

div h4 {
  margin-top: 1.4rem;
  color: #2d3248;
  font-size: 1.1rem;
}

div h4 span {
  color: #969696;
  font-size: 1.1rem;
  margin-left: 0.5rem;
  font-weight: 400;
}

div p {
  color: #969696;
  margin-top: 1rem;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

div .stats {
  font-family: "Kumbh Sans", sans-serif;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

div .stats .stats-num {
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
  font-weight: 800;
  letter-spacing: 0px;
  color: #2d3248;
}

div .stats li {
  margin: 1.5rem;
  letter-spacing: 1px;
  font-size: 0.7rem;
  color: #969696;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
}

div .last-box {
  border-top: 1px solid #e6e6e6;
  width: 100%;
  padding: 0 2rem;
}

.attribution {
  position: relative;
  top: 5rem;
  font-family: "Kumbh Sans", sans-serif;
}

.attribution a:link,
a:visited {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 0.8rem;
  color: #d14a47;
}

@media (min-width: 768px) {
  body {
    background-size: 60vw 60vw, 70vw 70vw;
    background-position: left -15vw top -30vw, right -20vw bottom -46vw;
  }
}
/*# sourceMappingURL=main.css.map */